.galeria2__productos {
    
    display: flex;
    justify-content: space-between;
    
}

.galeria2__productos-lista {
    line-height: 1.25rem;
}

.galeria2__productos-imagen {
    width: 250px;
    height: auto;

}

.galeria2__producto-precio {
    font-weight: bold;
}

.galeria2__productos-descripcion {
    color: #1363ec;
    font-weight: bold;
}

@media screen and (max-width:375px) {
  
    .galeria2__productos {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: flex-start;
    }
    
    .galeria2__productos-lista {
        flex-basis: calc(50% - 10px);
        
    }
  
}

@media screen and (max-width:768px) {
    
    .galeria2__productos {
        display: flex; 
        flex-wrap: wrap; 
        justify-content: flex-start;
    }
    
    .galeria2__productos-lista {
        width:calc(33.3% - 10px)
        
    }
    
}